$color-body: #FAF9F8;
$color-background: #fff;

$color-text-dark: #181818;
$color-text-gray: #676767;
$color-text-light: #fff;

$color-primary: #F57D14;

$color-input: #e0e0e0;

$color-danger: #f65a38;


$shadow-card: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px,
  rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
